<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>handler</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>username_handler</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.username_handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patterns_check</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.patterns_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_user</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.register_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_sign_in_page</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_sign_in_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_sign_up_page</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_sign_up_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_user</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.delete_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_main_page</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_main_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign_out</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.sign_out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign_in_user</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.sign_in_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_user_info</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_user_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resolve_content</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.resolve_content</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_update_page</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_update_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patterns_check_update</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.patterns_check_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_user</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.update_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_usernames</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_usernames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_main_page_user</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_main_page_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_post</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.create_post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_main_page_users</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_main_page_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test_post_creation</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.test_post_creation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_top10_user_posts</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_top10_user_posts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_post</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.delete_post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_main_page_other_user</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_main_page_other_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_top10_specific_user_posts</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_top10_specific_user_posts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_top10_posts_general</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_top10_posts_general</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_post_base64</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.get_post_base64</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_detailed_post</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2019.logbook.servlets.view_detailed_post</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handler</servlet-name>
        <url-pattern>/handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>username_handler</servlet-name>
        <url-pattern>/username_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patterns_check</servlet-name>
        <url-pattern>/patterns_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_user</servlet-name>
        <url-pattern>/register_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_sign_in_page</servlet-name>
        <url-pattern>/get_sign_in_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_sign_up_page</servlet-name>
        <url-pattern>/get_sign_up_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_user</servlet-name>
        <url-pattern>/delete_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_main_page</servlet-name>
        <url-pattern>/get_main_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign_out</servlet-name>
        <url-pattern>/sign_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign_in_user</servlet-name>
        <url-pattern>/sign_in_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_user_info</servlet-name>
        <url-pattern>/get_user_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resolve_content</servlet-name>
        <url-pattern>/resolve_content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_update_page</servlet-name>
        <url-pattern>/get_update_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patterns_check_update</servlet-name>
        <url-pattern>/patterns_check_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_user</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_usernames</servlet-name>
        <url-pattern>/get_usernames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_main_page_user</servlet-name>
        <url-pattern>/get_main_page_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_post</servlet-name>
        <url-pattern>/create_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_main_page_users</servlet-name>
        <url-pattern>/get_main_page_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test_post_creation</servlet-name>
        <url-pattern>/test_post_creation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_top10_user_posts</servlet-name>
        <url-pattern>/get_top10_user_posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_post</servlet-name>
        <url-pattern>/delete_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_main_page_other_user</servlet-name>
        <url-pattern>/get_main_page_other_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_top10_specific_user_posts</servlet-name>
        <url-pattern>/get_top10_specific_user_posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_top10_posts_general</servlet-name>
        <url-pattern>/get_top10_posts_general</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_post_base64</servlet-name>
        <url-pattern>/get_post_base64</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_detailed_post</servlet-name>
        <url-pattern>/view_detailed_post</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>securedapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
